*{
    margin: 0;
   
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
header{
    background-color: rgb(156, 84, 223);
    padding: 16px 0;
    color: white;
    display: flex;
    border-bottom: 16px solid lightcoral;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
}

header h1{
    background-color: rgb(156, 84, 223);
    margin-left: 180px;
    margin-bottom: 16px;
    margin-top: 40px;
}
form{
    background-color: beige;
    padding: 24px 0;
    text-align: center;
    display: flex;
    
}


form input, button{
    justify-content: center;
    padding: 8px;
    display: flex;
    margin-top: 130px;
    margin-left: 150px;
    border-radius: 30px;
    background-color: bisque;
}

button{
    background-color: rgb(55, 0, 255);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}
ul{
    margin: 0 480px;
    text-align: center;
    color: black;
}
ul li{
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    text-decoration:  1px solid rgba(0,0,0,0.3);
    color: black;
}
.tarefa-concluida {
    text-decoration: line-through;
}